body
{
    padding: 0%;
    background: rgba(255, 255, 255, 0.808);
    z-index: 1;
    margin: 0;
    overflow-x:hidden ;
}

.free
{
text-align: center;
background-color: #ffbe9f;
padding: 10px;
width: 100%;
z-index: 10px;
}
.free p
{
    color: rgb(206, 31, 31);
}

.nav
{
    padding: 25px;
    display: flex;
    flex-direction: row;
align-items: center;

    background: white;
    z-index: 2;
}
.fr
{border: solid;
color: red;
border-radius: 3px;
height: 22px;
text-align: center;
}

#img
{
   width: 30px;
}


#imo
{
   width:50px;
   
   
}

.icone
{
    display: flex;
    width: 230px;
    justify-content: space-between;
    margin-left: 200px;
}

.SHOP
{
    margin-right: 10px;
}

#prana
{
    width: 200px;
    margin-left: 115px;
}
.prana
{
    z-index: 11;
    
}
.sop
{
    margin-left: 50px;
}

.sop a
{
    text-decoration:none;
    color: rgb(175, 38, 38);
}

#cana
{
    margin-left: 30px;
    border-bottom: none;
    color: rgb(206, 31, 31);
    border-top: none;
    border-left: none;
    border-right: none;
}

#new
{
    width: 100%;
    height: 420px;
}
.container
{
    margin-top: 5px;
    background-image: url( \WhatsApp\ Image\ 2025-01-09\ à\ 01.33.43_7f3760fb.jpg );
    background-size: 100%;
    background-repeat: no-repeat;
    height: 500px;
    
}
.container button
{
    padding: 10px;
    
}
.tof
{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    
}
#tof
{
    width: 270px;
    height: 250px;
}
.detail
{
    text-align: center;
}
.section
{
    height: 600px;
    padding-top: 30px;
    margin-top: 50PX;
}
.cook
{
    display: flex;
    justify-content: space-evenly;
    height: 590px;
    align-items: center;
    margin-top: 50px;
    width: 100%;
   

}

#view
{
    padding: 10px;
    border-radius: 10px;
    border: transparent;
    width: 150px;
}

.cook2
{
    background-image: url(image_5.png);
    background-size: cover;
    height: 630px;
    align-items: center;
    padding-top: 10px;
    

}
.cook2 h1 
{
    color: rgb(206, 31, 31);
    text-align: center;
    z-index: 1;
}
.banana
{
    display: flex;
    flex-direction: row;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 408px;
    z-index: 10;
}
#banana
{
   
    height: 220px;
    width: 250px;
    margin-left: 0px;
    

}
.FLECHE
{
    margin-top: 50PX;
    border: none;
    background: transparent;
    font-size: 30PX;
}

.insta
{
    background-image: url();
    background-color: rgb(255, 182, 139);
    height: 310px;
    text-align: center, ;
    

    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.insta h1{

    color: rgb(175, 38, 38);

}

video
{
    
    border-radius: 10px;
    background-color: #f1caca;
    width: 150px;
   height: 170px;
   margin-left: 10px;
   padding-top: 10px;
   padding-bottom: 10px;
    
}


#insta
{
    height: 200px;
    width: 200px;
    margin-left: 5px;
    border-radius: 10px;
}

.speak
{
    background-color:#fcfcfc ;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.let
{
    text-align: center;
}
.cust
{
    padding: 20px;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#etoiles
{
    width: 100px;
    
    margin-top: 10px;
}
#choco
{
    height: 250px;
    width: 250px;
}

.nourr
{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 250px;
   height: 200px;
   margin-top: 100px;
}
.marg
{
    margin-top: 2px;
    margin-bottom: px;
    font-size: 18px;
    color: rgb(71, 63, 63);
    margin-left: 10px;
    text-align: start;

}
.margo
{
    color: rgb(189, 19, 19);
    font-size: 20px;
    margin-top: 30px;
    margin-left: 10px;

}
.adobe
{
    background-image: url(AdobeStock_749648972_1500x.jpg);
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}
.plan
{
    height: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;


    overflow: hidden;

}
.text
{
    background-color: rgb(255, 255, 255);
    height: 280px;
    width: 330px;
    text-align: center;
}
.text a
{
    color: gainsboro;


}
.lehaut{
    background-color: rgba(233, 180, 180, 0.847);
    padding: 0px;
    text-align: center;
}

.haut1{
    
    padding: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;

    overflow: hidden;

}

.hautlien {

    color: black;
    margin-right: 20px;
    margin-left: 30px ;
    width: 405px;


    overflow: hidden;


    
}
.hautlien a{
 margin-right: 10px;
 text-decoration: none;

 color: rgb(169, 38, 38);
 font-size: 18px;

}
#nav{
    width: 30px;
    height: 25px;
    margin-left: 5px;
}
.FR
{
    border: solid rgb(169, 38, 38);
    color: rgb(169, 38, 38);
    border-radius: 5px;
}

.logo1{
    
    align-items: center;
    justify-content: space-around;
  }
  #nav1{
    width: 159px;
    margin-left: 250px;
    
  }
  #canada{
    color: rgb(169, 38, 38);
    border: rgb(169, 38, 38);
  }

  .icone{
    
margin-left: 300px;
display: flex;
margin-right: 50px;

  }
  #cali{
    display:flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
   
  }
  #cali1{
    position: absolute;
    top: 50%;
    right: 20px;
    padding-top: 120px;

  }
  select:hover{
    background-color: blue;
  }
  .pied{
    width: 300px;
    padding-left: 20px;
    height: 350px;
    justify-content: start;
    font-size: 18px;
    color: gray;

  }

  .site{
    width: 150px;
    padding-left: 10px;
    height: 350px;
    text-align: center;
    font-size: 16px;
    color: rgb(134, 32, 32);
    font-weight: bold;


    overflow: hidden;


  }
  .site p:hover{
    color: #53555a;
    cursor: pointer;
  }
  .site1{
    width: 150px;
    height: 350px;
    text-align: center;
    font-size: 16px;
    color: rgb(134, 32, 32);
    font-weight: bold;
    padding: 0px;
    margin-top: 20px;



    overflow: hidden;

  }
  .tout{
    display: flex;
    justify-content: center;
    gap: 0px;
  }
.pink{
    display: flex;
    background-color: #ffd8c5;
    height: 400px;
    padding: 10PX;
    flex-direction: row;

    justify-content: space-around; 

    justify-content: space-evenly;

    overflow: hidden;

    

}
.en-bas{
    height: 350px;
    width: 300px;
    font-size: 18px;
    color: gray;



    overflow: hidden;




}
#input{
  padding: 10px;
  width: 300px;
  border-radius: 10px;
}
.vert{
    background-image: url(bagraound-colour.jpg);
    height: 400px;
    padding-top: 200px;
    text-align: center;  
    color: white; 
    font-size: larger 200px;
}
#input1{
    width: 350px;
    border-radius: 5px;
    padding: 15px;
    border: 1px solid white;
}
#bouton{
    padding: 15px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: white;
}
#input3{
    border-radius: 5px;
    padding: 15px;
    border: 1px solid ;
    width: 200px;
    border-radius: 5px;
    
}
.bouton1{
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: #53555a;
    color: white;
    margin-top: 20px;
}
#lang{
    border: 1px solid white;
}
#lang:hover{
    background-color: white;
}
.nourri
{
   display: flex;
   flex-direction: column;
   width: 400px;
   margin-top: 100px;
   
}
#choca
{
    width: 400px;
    height: 250px;
}
.speak2
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;


    overflow: hidden;

    

}
a
{
    color: #53555a;
    font-size: 18px
}
.vide
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 400px;
    align-items: center;
    margin-top: px;
}
#canada

{
    color: rgb(134, 32, 32);

    background: transparent;
    border: none;

}
#abc
{
    width: 490px;
    height: 450px;
    margin-left: 80px;
}
.submit 
{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: -100px;
    
}
#envoie
{
    padding: 10px;
    border-radius: 15px;
    background: #0f0f0f;
    color: #fcfcfc;
}
.av
{ 
    display: flex;
    flex-direction: row;
    margin-bottom: 150px;
    margin-top: 100px;
}
.us
{
    width: 30%;
    margin-left: 50px;
    display: flex;
    flex-direction: column;

    justify-content: center;
}
.us h1
{
 color: rgb(134, 32, 32);
    ;
}
.nourre 
{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    margin-left: 0px;
}
.marga
{
    background: white;
    width: 250px;
    height: 100px;
}

#marga
{
    color: rgb(169, 38, 38);
}
.nourre p  a
{

    font-size: 14px;

 
    font-size: 16px;
    margin-left: 15px;


 }

 .let h1{
    color: rgb(175, 38, 38);
 }
 #nav1
 {
    margin-left: 200px;
 }
 .nourri a{
    margin-top: 10px;
 }
 .gauche
 {
    border-radius: 15px;
    background-color: #faf7f74d;
    border: solid #faf7f74d;
    font-size: 26px;

 }
 .droit
 {
    border-radius: 10px;
    background-color: #faf7f74d;
    border: solid #faf7f74d;
    font-size: 26px;
    margin-right: 5px;
 }
 .now
 {
    border: solid;
 }




 @media screen and (max-width:800px)

    
 
 { 

    
.cook{
        display: flex;
        flex-direction: column;
        padding: 10px;
        border: #0f0;
        margin-top: 1300px;
        height: 1700px;

    }
   
    .haut1{
        height: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .hautlien
    {
        display: flex;
        flex-direction: column;
    }
   
    #nav1
    {
       position: relative;
      right: 100px;
    }
    .icone
    {
        display: flex;
        margin-left:50px ;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    

    .container
    {
        height: 390px;
       
    }
    .container button
    {
        position: relative;
        margin-top: 0
    }
    .tof
    {
        display: flex;
        flex-direction: column;
        height: 1600px;
    }
    .cook2
    {
        height: 1300px;
        display: flex;
        flex-direction: column;
       
    }
    .banana
    {
        display: flex;
        flex-direction: column;
        height: 1000px;
    }
    .insta{
        height: 1700px;
        
    }
    .vide
    {
        display: flex;
        flex-direction: column;
        height: 1800px;
        align-items: center;
        justify-content: center;
    }
    #insta
    {
        margin-top: 10px;
    }
    #vid
    {
        margin-top: 10px;
    }
    video
    {
        width: 200px;
    }
    .cust{
        height: 1800px;
    }

    .speak
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 1600px;
        
    }
    .nourr
    {
        height: 500px;
    }

    .speak2
    {
        height: 1900px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .submit
    {
        margin-top: 50px;
    }
    .av{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .us
    {
        width: 400px;
    }

    body
    {
        margin: 0%;
        padding: 0%;
        overflow-x: hidden;
    }
    
    
    
 }

